.xaxis path, .yaxis path, .xaxis line, .yaxis line {
				fill: none;
				stroke-width: 1;
				stroke: black;
			}
			.actual-line {
  				fill: none;
  				stroke: steelblue;
  				stroke-width: 2.5;
				}
			.projected-line {
				fill: none;
				stroke: steelblue;
				stroke-width: 2.5;
				stroke-dasharray: 3;
			}
			.proposed-line {
				fill: none;
				stroke: red;
				stroke-width: 3;
				stroke-dasharray: 5;
				stroke-opacity: 0.25;
			}
			.legendText {
				stroke: black;
			}
			.tick line{
				opacity: 0.2;
			}
			
			.metadata {
     			width: 800px; 
     			position: relative;
     			left: 30px;
     			font-size: 11pt;
			}
			.metadata h3 {
				font-size: 18pt;
			}
			.chart-container {
				position: relative;
				left: 10px;
			}
			.data-refresh {
				font-size: 10pt;
			}
			.data-refresh h4 {
				font-size: 11pt;
			}
			.handsontable table thead th {
  				white-space: pre-line;
  				max-width: 150;
  				vertical-align: bottom;/* enter here your max header width */
			}
			p.negotiation_status, p.license_review_status  {
				font-size: 10pt;
				font-weight: bold;
				margin-bottom: 0;
			}